*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
} 
body {
    width: 100;
    min-height: 100vh;
} 
 .bnt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

 button {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    margin: auto;
    border-radius: 5px;
 }